body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
h1, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-group-item a {
    text-decoration: none;
    color: #007bff;
}
.list-group-item a:hover {
    text-decoration: underline;
}
